/*Cities*/
.workshop p {
 margin-top: 20px;
}

.name-city {
  font-size: 30px;
}

.workshops-images {
  background: center / cover no-repeat url(images/image1.png);
  height: 260px;

  border-radius: 7px;
}

.workshop-image-1 {
  background-image: url(../../images/image2-1.png);
}

.workshop-image-2 {
  background-image: url(../../images/image3-1.png);
}

.workshop-image-3 {
  background-image: url(../../images/image5-1.png);
}

.workshop-image-4 {
  background-image: url(../../images/image6-1.png);
}

.workshop-image-5 {
  background-image: url(../../images/image7-1.png);
}

.workshop-image-6 {
  background-image: url(../../images/image8-1.png);
}

.workshop-image-7 {
  background-image: url(../../images/logo-1.png);
}

.workshop-image-8 {
  background-image: url(../../images/array-1.png);
  margin-bottom: 50px;
}

.workshop-image-9 {
  background-image: url(../../images/array_html_543a1bc2ed8b7972.png);
}

iframe {
  width: 100%;
}

@media only screen and (min-width: 768px){
  .workshops {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
    grid-gap: 30px;
  }

  // .informations-cities {
  //   display: grid;
  //   grid-template: 1fr 1fr;
  //   grid-gap: 30px;
  // }
  

  // .main-cities .container .informations {
  //   display: flex;
  //   justify-content: center;
  // }
}
