/*Contact*/
.form-full {
  margin: 10px;
  margin-top: 30px;
}

.form-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color:rgb(0, 0, 0);
  font-weight: 900;
  margin-top: 50px;
}

.form {
  display: flex;
  justify-content: center;
}

form {
  width: 90%;
}

.form input,
.form textarea,
.form button
 {
  margin-top: 15px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 10px;
  padding: 5px;
}

@media only screen and (min-width: 768px) {
  // parade
  .form-full {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .form-image {
    width: 500px;
    height: 570px;
    margin-left: 200px;
  }
  .form {
  padding: 50px;
}
.form input,
.form textarea,
.form button
 {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 200%;
}
  form {
    width: 100%;
  }
}