//display

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

.container-small {
  max-width: 815px;
  margin: 20px auto;
  padding: 0 15px;
}

.container-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 15px 20px;
}

.container-jumbotron {
  max-width: 1400px;
  margin: 0 auto;
}