//display

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

.container-small {
  max-width: 815px;
  margin: 20px auto;
  padding: 0 15px;
}

@media only screen and (min-width: 1100px) {
  .container {
    padding: 150px 15px;
  }
}