.header {
  position: relative;
  height: 415px;
}

// navbar
.navbar {
  background-color: #FFF;
}

// burger
.contain-burger {
  display: flex;
  align-items: center;
  height: 50px;

  cursor: pointer;
}

.burger-nav {
  position: relative;
  height: 3px;
  width: 35px;

  background-color: $bg-primary;

  border-radius: 3px;

  cursor: pointer;
}

.burger-nav::before {
  content: '';
  display: inline-block;
  height: 3px;
  width: 35px;

  background-color: $bg-primary;

  border-radius: 3px;
}
.burger-nav::after{
  content: '';
  position: absolute;
  top: -12px;
  left: 0;
  display: inline-block;
  height: 3px;
  width: 35px;

  background-color: $bg-primary;

  border-radius: 3px;
}

// navbar
.navbar .logo {
  height: 45px;
}

.nav {
  display: none;
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;

  text-align: center;

  background-color: #FFF;

  border-top: 15px solid $bg-light;
  z-index: 1;
}

.nav .section {
  display: block;
  padding: 15px 0;

  text-transform: uppercase;

  cursor: pointer;
  transition: color .3s;
}

.nav .section:hover {
 color: $text-primary;
}

.section .fa-angle-down {
 position: relative;
 top: 4px;
 margin-left: 5px;
}

.events_cities,
.stages {
  display: none;
}

// jumbotron
.jumbotron {
  position: relative;
  height: 415px;

  background: center / cover no-repeat url(../../images/header_home_page.png);
}

.jumbotron .presentation { 
  position: absolute;
  bottom: 30px;
}

.jumbotron .text {
  font-weight: 600;

  background-color: rgba(255, 255, 255, .75);
}

@media only screen and (min-width: 768px) {
  // jumbotron
  .jumbotron {
    height: 330px;
  }

  .jumbotron .text {
    width: 550px;
    padding-left: 70px;

    border-radius: 0 13px 13px 0;
  }
}

@media only screen and (min-width: 1150px) {
  .navbar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    z-index: 1;
  }

  .container-navbar {
    padding: 15px 50px;
  }

  // nav
  .nav {
    position: relative;
    top: -4px;
    display: block;

    text-align: right;

    border: none;
  }

  .nav .section {
    display: inline-block;
    padding: 0 15px;
  }

  // burger-nav
  .burger-nav {
    display: none;
  }
}