.header {
  position: relative;
  
  font-size: .9em;
}

// navbar
.navbar {
  background-color: #FFF;
}

// burger
.contain-burger {
  display: flex;
  align-items: center;
  height: 50px;

  cursor: pointer;
}

.burger-nav {
  position: relative;
  height: 3px;
  width: 35px;

  background-color: $bg-primary;

  border-radius: 3px;

  cursor: pointer;
}

.burger-nav::before {
  content: '';
  display: inline-block;
  height: 3px;
  width: 35px;

  background-color: $bg-primary;

  border-radius: 3px;
}
.burger-nav::after{
  content: '';
  position: absolute;
  top: -12px;
  left: 0;
  display: inline-block;
  height: 3px;
  width: 35px;

  background-color: $bg-primary;

  border-radius: 3px;
}

// navbar
.navbar .logo {
  height: 45px;
}

.nav {
  display: none;
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;

  text-align: center;

  background-color: #FFF;

  border-top: 15px solid $bg-light;
  z-index: 1;
}

.nav .section {
  display: block;
  padding: 15px 0;

  text-transform: uppercase;

  cursor: pointer;
  transition: color .3s;
}

.nav .section:hover {
 color: $text-primary;
}

.section .fa-angle-down {
 position: relative;
 top: 4px;
 margin-left: 5px;
}

.section.events-dropdown,
.section.stages-dropdown {
  position: relative;
}

.events-cities,
.stages {
  display: none;
  position: absolute;
  top: 100px;
  left: 0;
  padding: 30px 25px;
  width: 195px;

  text-align: left;

  background-color: #FFF;

  border-radius: 13px;
  border: 1px solid $bg-primary;
}

.events-cities a,
.stages a {
  display: block;
  padding: 10px 0;

  border-bottom: 1px solid rgb(173, 173, 173);
}

.events-cities a:last-child,
.stages a:last-child {
  border: none;
}

.section-title-events {
  position: relative;
  display: inline-block;
}

.events-dropdown:hover .events-cities,
.stages-dropdown:hover .stages {
  display: block;
}

.events-cities a:hover,
.stages a:hover {
  background-color: rgb(245, 245, 245);
}

.events-cities a,
.stages a {
  font-size: .9em;
}

// jumbotron
.jumbotron {
  position: relative;
  height: 415px;

  background: center / cover no-repeat url(../../images/header_home_page.png);
}

.jumbotron .presentation { 
  position: absolute;
  bottom: 30px;
}

.jumbotron .text {
  font-weight: 600;

  background-color: rgba(255, 255, 255, .75);
}

@media only screen and (min-width: 768px) {
  // jumbotron
  .jumbotron {
    height: 330px;
  }

  .jumbotron .text {
    width: 550px;
    padding-left: 70px;

    border-radius: 0 13px 13px 0;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    z-index: 1;
  }

  .container-navbar {
    padding: 0 50px;
  }

  .jumbotron {
    margin-top: 120px;
  }

  // nav
  .nav {
    position: relative;
    top: -4px;
    display: block;

    text-align: right;

    border: none;
  }

  .nav .section {
    display: inline-block;
    padding: 42px 15px;
  }

  // burger-nav
  .burger-nav {
    display: none;
  }
}
