.internships {
  margin-top: 100px;
}

.internships a {
  margin: 10px 0;
}

.internships .paragraph {
  margin-top: 50px;
}

.container-internships {
  text-align: center;
}

.container-internships img {
  width: 110px;
}

.internships a {
  margin: 20px 0;
}

@media only screen and (min-width: 768px) { 
  .internships a {
    display: block;
    margin: 20px 0;
  }

  .container-internships {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
}