.material-access-button {
  margin-top: 60px;
}

.image-onisep-logo {
  width: 100%;
}

.container-banner-onisep {
  text-align: center;
}

/* .onisep-banner {
  max-width: 700px;
  margin: 0 auto;
}
 */
