
// colors
$bg-primary: #67328D;
$bg-secondary: #0AD6A1;
$bg-success: #d4edda;
$bg-danger: #f8d7da;
$bg-warning: #FAD449;
$bg-info: #0075FF;
$bg-light: #DBEDF8;
$bg-dark: #1A1A1A;
$bg-white: #FFF;

$text-primary:  #67328D;
$text-secondary: #0AD6A1;
$text-success: #d4edda;
$text-danger: #f8d7da;
$text-warning: #FAD449;
$text-info: #0075FF;
$text-light: #DBEDF8;
$text-dark: #1A1A1A;
$text-white: #FFF;



//base CSS
a {
  color: inherit;
  text-decoration: none;

  transition: color .3s;
}

//btn CSS
.btn {
  display: inline-block;
  padding: 12px 0;
  width: 100%;

  text-align: center;
  color: $text-primary;

  background-color: $bg-light;

  border-radius: 7px;

  transition: .3s;
}

//hover
.btn .fa-angle-right {
  opacity: 0;

  transition: .3s;
}

.btn:hover .fa-angle-right {
  opacity: 1;
  margin-left: 10px;
}

.btn:hover {
  padding-right: 18px;
}

//responsive
@media only screen and (min-width: 768px) { 
  .btn {
    width: auto;
    padding: 12px 15px;
    margin-left: 70px;
  }
}

// img
.main img,
.main .image {
  border-radius: 7px;
}